body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.gallery {
    text-align: center;
}
.main-image img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.main-image img:hover {
    transform: scale(1.1);
}
.thumbnails {
    margin-top: 20px;
}
.thumbnails img {
    width: 100px;
    height: 75px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}
.thumbnails img:hover {
    transform: scale(1.2);
}
